<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <label>User: <input th:field="*{name}" type="text" name="name"> </label>
    <label>Email: <input th:field="*{email}" type="text" name="email"> </label>
    <label>Password: <input th:field="*{password}" type="password" name="password"> </label>
    <input type="submit" value="Register">
</form>
</body>
</html>